@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Inter", "Inter","Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: #ddd;
$primary-invert: #333;

$min_width: 320px;
$max_width: 1200px;
$min_font: 72px;
$max_font: 120px;

@import "../node_modules/bulma/bulma";

// 4. Import the rest of Bulma
.title.is-2 {
	font-family: "Barlow Semi Condensed";
	font-size: 80px;
	letter-spacing: -2px;
	word-wrap: break-word;
}

@media screen and (max-width: 576px) {
	.title.is-2 {
	font-family: "Barlow Semi Condensed";
	font-size: 14vw;
	letter-spacing: -2px;
	word-wrap: break-word;
}
}
.subtitle.is-4{
	font-family: "Barlow";
	font-size: 1.9rem;
}

body{
	font-size: 1.35rem;
}

.eva {
	color: gray;
	width: 36px;
	height:36px;
}

.content h2 {
	font-family: "Barlow";
	font-size: 3rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.content h3 {
	font-family: "Barlow";
	font-size: 2rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

a {
	color: black;
}

.italy{
	position: relative;
	align-self: center;
	bottom: -10px;
	height: 20px;
	width: 250px;
	background:linear-gradient(to right, #009246 0, #009246 33%, #FFF 33%, #FFF 66%, #ce2b37 66%, #ce2b37 100%); 
}

.hero-body {
	padding-bottom: 4rem !important;
}

.section {
	padding-top: 6rem !important;
}