@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Inter", "Inter","Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: gray;
$primary-invert: $pink-invert;


@import "../node_modules/bulma/bulma";

// 4. Import the rest of Bulma
.title.is-2 {
	font-family: "Barlow Semi Condensed";
	font-size: 7rem;
	letter-spacing: -2px;
}

.subtitle.is-4{
	font-family: "Barlow";
	font-size: 1.9rem;
}

body{
	font-size: 1.5rem;
}

.eva {
	color: gray;
	width: 36px;
	height:36px;
}

h3,h2 {
	font-family: "Barlow";
	font-size: 2rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

a {
	color: black;
}